<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] Dental Clinic</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <script src="~/lottie/lottie.js"></script>
    <link href="~/admin-lte/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.material.blue.light.css" rel="stylesheet" />
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>
    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>
    <script src="~/js/devextreme/jszip.js"></script>
    <script src="~/js/devextreme/vectormap-data/world.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_LayoutMainHeader")
        @Html.Partial("_LayoutMainSidebar")
        <div class="content-wrapper">
          
            <section class="content container-fluid">
                @RenderBody()
            </section>
        </div>
        @*@Html.Partial("_LayoutMainFooter")*@
        @Html.Partial("_LayoutControlSidebar")

        <div class="control-sidebar-bg"></div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>